@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Hind Siliguri', sans-serif;
}

.App {
  text-align: center;
  /* width: 100vw; */
  height: 100vh;
}

.App h1 {
  padding: 2rem 0rem;
}

.container {
  display: flex;
  flex-direction: row;
}

.Pictures {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

img {
  margin: 5px;
  cursor: grab;
  transition: all 0.25s ease-in-out 0s;
}

.player-card {
  /* padding: 8px 5px; */
  
  display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* align-items: center;
    display: flex; */
    -ms-flex: 1;
    flex: 1;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.7rem 0.8rem;
    border: 1px solid hsla(0,0%,100%,.4);
    transition: border .3s;
    border-radius: 0.6rem;
    height: 3.5rem;
    margin-bottom: 0.6rem;
}

.player-container {
  display: flex;
  align-items: center;
}
.player-digit {
  margin: 5px;
  margin-right: 10px;
  font-size: 20px;
}

/* img:hover {
  width: 100px;
} */

.Board {
  width: 320px;
  height: 100%;
  background-color: #0d0d0d;
  padding: 0.8rem 0.8rem 0.4rem 0.4rem;
  border-radius: 0px 0px 8px 8px;
}

.playfield {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 0rem 3rem;
}

.xi-img {
  border-radius: 50%;
  border:none;
  background: transparent;
    width: 35px;
    margin-right: 20px;
}

.playing-xi {
  background-color: #a1a1a1;
  color: white;
  font-weight: 600;
  max-height: 100vh;
  border-radius:8px;
}

.playing-xi h3 {
  padding: 10px;
}

h3 span {
  color:#007bbe;
    margin-left: 3px;

}
